@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0f0f0f;
  color: #e5e5e5;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  overflow: hidden; /* Prevent scrolling on TV */
}

/* Custom Focus Ring for Spatial Nav */
*:focus {
  outline: 4px solid #e50914;
  outline-offset: 4px;
  z-index: 10;
}
